           
=======================================================================
Host: {{ inventory_hostname | upper }} 
Fecha: {{ now().strftime('%d/%m/%Y') }}
Hora: {{ now().strftime('%H:%M:%S') }}
=======================================================================

------------------------------------------------------------------------
1. System Sumary
------------------------------------------------------------------------
{{ system_info.stdout }}

CPU INFO
--------------------------------
{{ cpu_info.stdout }}

RAM INFO
--------------------------------
{{ ram_info.stdout }}

------------------------------------------------------------------------
2. Storage Details
------------------------------------------------------------------------

GLOBAL SUMARY
--------------------------------
{{ discos.stdout }}

LVM PS 
--------------------------------
{{ lvm_ps.stdout }}

LVM VG 
--------------------------------
{{ lvm_vg.stdout }}

LVM LV 
--------------------------------
{{ lvm_lv.stdout }}

STRATIS POOL
--------------------------------
{{ stratis_info.stdout }}


------------------------------------------------------------------------
3. Network Details
------------------------------------------------------------------------

NETWORK INFO
--------------------------------
{{ network_info.stdout }}

NETWORK PORT
--------------------------------
{{ port_info.stdout }}

------------------------------------------------------------------------
4. Process Details
------------------------------------------------------------------------
{{ process_info.stdout }}


------------------------------------------------------------------------
5. Fstab Details
------------------------------------------------------------------------
{{ fstab_info.stdout }}


------------------------------------------------------------------------
6. Swap Details
------------------------------------------------------------------------
{{ swap_info.stdout }}


------------------------------------------------------------------------
7. Firewall Details
------------------------------------------------------------------------
{{ firewall_info.stdout }}


------------------------------------------------------------------------
8. SELinux Details
------------------------------------------------------------------------
{{ selinux_info.stdout }}

------------------------------------------------------------------------
9. Hardware  Details 
------------------------------------------------------------------------
{{ hardware_info.stdout }}

------------------------------------------------------------------------
10. Services Details
------------------------------------------------------------------------
{{ services_info.stdout }}

